body {
    background-color: white;
    font-family: sans-serif;
    overscroll-behavior-y: contain;
    margin-top: 0px;
    margin-bottom: 0px;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-grow: 1;
}

.button {
    flex-grow: 1;
}

#buttons .button, #count-button {
    background-color: #ddd;
}

#buttons .button.selected, #count-button.ready {
    background-color: #bfb;
}

#buttons .choice-0 {
    grid-column: 1;
}

#buttons .choice-1 {
    grid-column: 2;
}

#count-button, #buttons .button {
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    user-select: none;
}

#count-button {
    margin-top: 1em;
}

#button-icons {
    display: flex;
    justify-content: space-between;
}

#undo-button, #download-button {
    width: 2em;
    height: 2em;
}
