body {
    background-color: white;
    font-family: sans-serif;
    overscroll-behavior-y: contain;
    margin-top: 0px;
    margin-bottom: 0px;
}

#counts {
    border: 1.5pt solid black;
    border-collapse: collapse;
    margin-bottom: 1em;
}

#counts th, #counts td {
    border-left: 1.5pt solid black;
    border-right: 1.5pt solid black;
}

#counts th {
    border-bottom: 1.5pt solid black;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-grow: 1;
}

.button {
    flex-grow: 1;
}

#buttons .button, #count-button {
    background-color: #ddd;
}

#buttons .button.selected, #count-button.ready, .confirm-button,
#commit-edit-button, .add-value-button, #add-property-button {
    background-color: #bfb;
}

#buttons .choice-0 {
    grid-column: 1;
}

#buttons .choice-1 {
    grid-column: 2;
}

.confirm-button, #count-button, #buttons .button,
#commit-edit-button {
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    user-select: none;
}

#count-button, #commit-edit-button {
    margin-top: 1em;
}

#button-icons {
    display: flex;
    justify-content: space-between;
}

#button-icons img {
    width: 2em;
    height: 2em;
}

#confirm-page-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.value {
    display: flex;
    flex-direction: row;
}

.value-name {
    width: 10em;
}

.value-emoji {
    width: 2em;
}

.remove-value-button {
    user-select: none;
}

.add-value-button, #add-property-button {
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.5em;
    user-select: none;
}

#edit-properties {
    margin-top: 1em;
}

#edit-error-message {
    margin-top: 1em;
    color: red;
}

.move-up-button, .move-down-button, .emoji-selector-button {
    display: inline-block;
    user-select: none;
}

#emoji-selector {
    border: 1.5pt solid black;
    padding: 0.5em;
    position: fixed;
    max-width: 8em;
    user-select: none;
    background-color: white;
}
